h1,h2 {
  text-align: center;
  font-family: Cambria, Cochin;
  color: rgb(64, 64, 171);
}

.kartya{
  border:1px solid black;
  margin:20px 150px;
  padding:30px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;

}
.szoveg{
  text-align: justify;
}
.datum{
  color:blue;
  font-size: smaller;
}
.ki{
  color:rgb(0, 255, 13);
  font-size: 15px;
  font-style: italic;
}
.nev{
  color:rgb(255, 0, 157);
  text-align: right;
}
span{
  font-size: 10px;
}

.zoldGomb{
  background-color: rgb(11, 236, 30);
  color:white;
  border:none;
  border-radius: 8px;
  padding:10px 15px;
  font-size:16px;
  cursor:pointer;
  margin-top: 8px;
}
.urlapDoboz{
  border:2px solid green;
  text-align: center;
  margin:20px 250px;
  padding:10px;
  border-radius: 5px;
}

input{
  margin:5px;
  border-radius: 5px;
  padding:5px
}
.gombok{
  width: 30px;
}
@media (max-width:1000px){
  .kartya{
    margin:10px;
    padding: 10px;
    font-size: 15px;
  }
  .urlapDoboz{
  
    margin:20px 20px;
    padding:10px;
  
}
}