.konyvDoboz{
  border:1px solid purple;
  width:50%;
  margin:auto;
  margin-bottom: 10px;
}

.App {
  text-align: center;
}

.kepkinezet{
  width: 30%;
}

.keretUtazas{
  margin: auto;
  text-align: left;
  border: 1px solid blue;
  width: 30%;
  padding:20px;
  padding-left: 80px;
  margin-top: 20px;
}


.keretZold{
  border:2px solid green;
}
.keretUzenet{
  margin: auto;
  text-align: left;
  border: 10px dotted pink;
  width: 30%;
  padding:20px;
  padding-left: 80px;
  margin-top: 20px;
}
.taplalkozas{
  width: 40%;
  border: 2px solid orange;
  box-shadow: 5px 5px 5px;
  margin:auto;
  text-align: left;
  padding:10px;
  margin-bottom: 10px;
}
#doboz{
  text-align: center;
}
.arnyekolt{
  border:1px solid cornflowerblue;
  box-shadow: 3px 3px 3px blue;
  width: 200px;
  margin:auto;
  margin-bottom: 10px;
}
@media (max-width:800px){
    .keretUtazas{
      width:60%;
      padding-left: 20px;
    }
    .keretUzenet{
      width:60%;
      padding-left: 20px;
    }
    .taplalkozas{
      width: 60%;
    }
    
}